/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-slate-900 dark:text-white;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */
.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

/**
 * Header
 */
#masthead {
	.menu-item > a,
	button {
		@apply block rounded px-3 py-2 font-semibold transition-colors duration-300;
	}

	.menu-item:is(:hover, .sub-menu-expanded) > :is(a, button),
	button:is(:hover, .active) {
		@apply text-primary bg-slate-100 dark:bg-slate-600 dark:text-blue-200;
	}

	.menu-item-has-children {
		@apply relative grid grid-cols-[1fr_auto];

		> a:first-child {
			@apply rounded-r-none pr-1;
		}

		> button.sub-menu-toggle:not(.not-split) {
			@apply rounded-l-none lg:pl-1;

			svg {
				@apply transition-transform duration-300;
			}
		}

		&.sub-menu-expanded
			> button.sub-menu-toggle[aria-expanded="true"]
			svg.fa-chevron-down {
			transform: rotate(180deg);
		}

		> .sub-menu {
			@apply lt-lg:pl-5 col-span-full hidden overflow-y-hidden py-2 lg:absolute lg:top-full lg:rounded-lg lg:border lg:bg-white lg:dark:bg-slate-700;

			.sub-menu {
				position: unset;
			}

			> .menu-item {
				@apply block whitespace-nowrap;
			}

			&.apply-animation {
				@apply lt-lg:h-0 lt-lg:my-0 lt-lg:py-0;
			}
		}

		&.sub-menu-expanded > .sub-menu {
			@apply block;
		}
	}

	#site-navigation .menu-item-has-children:hover > .sub-menu {
		@apply block;
	}
}

/**
 * Offcanvas
 */
@media screen(lt-lg) {
	.offcanvas {
		@apply fixed top-0 z-40 flex h-full w-full max-w-xs transform flex-col border-r bg-white !outline-0 transition-transform duration-300 dark:border-slate-700 dark:bg-slate-800;

		&.offcanvas-left {
			@apply left-0 -translate-x-full;
		}

		&.offcanvas-right {
			@apply right-0 translate-x-full;
		}

		&.showing,
		&.show:not(.hiding) {
			@apply translate-x-0;
		}

		&:not(.showing):not(.hiding):not(.show) {
			@apply hidden;
		}
	}
}

/**
 * Modal
 */
.modal {
	@apply fixed left-0 top-[var(--wp-admin--admin-bar--height,_0px)] z-[60] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-0;

	&.fade .modal-dialog {
		@apply -translate-y-12 transition-transform duration-300;
	}

	&.show .modal-dialog {
		@apply translate-y-0;
	}
}

/**
 * Fade animations
 */
.fade {
	@apply transition-opacity duration-300;

	&:not(.show) {
		opacity: 0;
	}
}

/**
 * Footer
 */
#social-links a {
	@apply text-slate-500 hover:text-slate-600 dark:text-slate-300 dark:hover:text-slate-400;
}

/**
 * Rainmaker Form
 */
.rm_button {
	@apply w-full text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-md text-sm px-5 py-2.5 text-center;
}
